html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
  background-color: white;
  text-align: center;
}

#status {
  color: gray;
  padding: 5px 5px;
  display: flex;
  justify-content: flex-end;
}

img {
  margin: 20px;
  border-radius: 50%;
  border: 5px solid rgb(71, 146, 71);
  /* height: 125px; */
}

h1 {
  /* padding: 0; */
  margin: 8px;
}

#brand {
  display: none;
}

#occupation {
  background-color: rgb(228, 233, 229);
  /* width: 100%; */
  padding: 4px;
  font-size: 15px;
}

#occupation > p{
  margin: 0;
}

#offer {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#price {
  font-size: 12px;
  padding: 0;
  margin: 0 0 8px;
}

#contact {
  display: flex;
  justify-content: center;
  height: 10%;
}

#phone {
  background-color: rgb(173, 218, 102);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#message {
  background-color: rgb(71, 146, 71);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* #contact > p {
  margin: 0;
  use this if had not split up the p tags (phone, message)
} */

#offer > p {
  margin: 8px 0;
  width: 100%;
}



<!-- /* 1024px is a common "breakpoint" width for tablets */ -->

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    max-width: 600px;
    margin: auto;
  }

  main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-column-start: 2 ;
    text-align: left;
  }

  #status {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1 ;
    justify-content: flex-start;
    padding: 5px 0 0 5px;
  }

  img {
    align-self: center;
    grid-column-start: 1 ;
    grid-row: 2 / 5;
    justify-self: center;
  }

  #contact {
    grid-column-start: 1;
    grid-row: 6;
    height: 100%;
  }

  #headerDiv {
    background-color: rgb(228, 233, 229);
  }

  #name {
    padding: 0 20px 0 20px;
  }

  #occupation {
    grid-column-start: 2 ;
    grid-row: 2 / 3;
    text-align: left;
    padding: 0px 20px 0 20px;
    background-color: rgb(228, 233, 229);
  }

  #brand  {
    display: grid;
    grid-column-start: 2 ;
    grid-row-start: 3 / 5 ;
    font-size: 16px;
    overflow-wrap: break-word;
    width: 100%;
    padding: 20px 20px 40px 20px;
    background-color: rgb(228, 233, 229);
  }

  #brand > p {
    display: grid;
    grid-column-start: 2 ;
    grid-row-start: 3 / 5 ;
  }

  #offer {
    grid-row-start: 6;
    grid-column-start: 2 ;
    padding: 0 20px 0 20px;
    background-color: rgb(228, 233, 229);
  }

  #brand > p {
    border-left: 3px solid green;
    padding: 0 20px 0 10px;
  }
}
