html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference -
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
  height: 100vh;
}

img {
  margin: 20px;
  border-radius: 50%;
  border: 5px solid rgb(71, 146, 71);
}

main {
  background-color: white;

}

#status {
  color: gray;
  padding: 5px 5px;
  display: flex;
  justify-content: flex-end;
}

#brand {
  display: none;
}

#occupation {
  background-color: rgb(228, 233, 229);
  width: 100%;
  padding: 4px;
  font-size: 15px;
}

#name {
  padding: 0;
}

#offer {
  font-size: 14px;
}

#price {
  font-size: 12px;
  vertical-align: center;
  padding: 0;
  /* margin: 10px; */
}

#phone {
  background-color: rgb(173, 218, 102);
  width: 50% ;
  display: flex;
  align-items: center;
  justify-content: center;

}

#message {
  background-color: rgb(71, 146, 71);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  display: flex;
  justify-content: center;

}

#contact > p {
  margin: 0;
  width: 100%;
}

#occupation > p{
  margin: 0;
}


<!-- /* 1024px is a common "breakpoint" width for tablets */ -->

@media only screen and (min-width: 768px) {
  body {
    background-color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  main {
    display: grid;
    grid-template-columns: 40% 60%;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-rows: auto;
    grid-column-start: 2 ;
    text-align: left;
    background-color: white;
  }


  #status {
    grid-row-start: 1;
    grid-column-start: 1 ;
    justify-content: flex-start;
    background-color: white;
  }

  img {
    align-self: center;
    grid-column-start: 1 ;
    grid-row: 2 / 5;
    /* background-color: white; */
    justify-self: center;
  }

  #contact {
    grid-column-start: 1;
    grid-row: 6;
  }

  #headerDiv {
    background-color: rgb(228, 233, 229);
  }

  #name {
    padding: 0 20px 0 20px;

  }

  #occupation {
    grid-column-start: 2 ;
    grid-row: 2 / 4;
    text-align: left;
    /* vertical-align: center; */
    /* text-align: left; */
    padding: 0px 20px 0 20px;
    background-color: rgb(228, 233, 229);
  }


  #brand {
    display: grid;
    grid-column-start: 2 ;
    grid-row-start: 4 ;
    font-size: 16px;
    inline-size: 600px;
    width: 100%;
    padding: 0 20px 0 20px;
    background-color: rgb(228, 233, 229);
  }

  #offer {
    grid-row-start: 6;
    grid-column-start: 2 ;
    padding: 0 20px 0 20px;
    background-color: rgb(228, 233, 229);
  }

  #brand > p {
    border-left: 3px solid green;
    padding: 0 20px 0 10px;
  }
}
